.food {display:block; margin-bottom:10px; padding:10px; border:1px solid #e1e1e1;}
.header {padding:30px; border:1px solid #e1e1e1; font-size: 20px; font-weight: bold;}
.contents {padding:60px;}
.footer {padding:30px; background-color:black; color:#fff;}
.box {margin-bottom:20px; padding:60px; background-color:gray;}
.navigations {text-align:center; border:1px solid red;}
.statusIcon {text-align:center}
.todoBox {margin:1px; border:1px solid; background-color:rgb(223, 244, 252);}